# Laravel
/bootstrap/compiled.php
#/vendor

# Configuration
/app/config/database.php
/app/config/local
/app/config/staging
/app/config/production
/app/config/facebook.php
/app/config/google1.php

# Composer
composer.phar
composer.lock

# OS
.DS_Store
.idea/
vagrant
.vagrant

# Packages
_ide_helper.php
