#AuthName "Restricted Area"
#AuthType Basic
#AuthUserFile c:\xampp\htdocs\Opentuta8\public\.htpasswd
#AuthGroupFile None
#Require valid-user

<IfModule mod_rewrite.c>
	Options -MultiViews
	RewriteEngine On

	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.+)/$ http://%{HTTP_HOST}/$1 [R=301,L]

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^ index.php [L]
</IfModule>

